<!doctype html>
<html lang="en">

<head>
    <title>"Calculadora</title>
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Section 1  -->
    <div class="section1">
        <b>CALCULADORA</b>
        <div class="section7">
            <span> </span>
        </div>
        <ul>
            <li><a class="active" href="index">Inicio</a></li>
            <li><a href="/about">Acerca de</a></li>
          </ul>
    </div>
    
    <script src="/js/script.js"></script>
</body>

</html>