<!doctype html>
<html lang="en">

<head>
    <title>"Calculadora</title>
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Section 1  -->
    <div class="section1">
        <b>CALCULADORA</b>
        <div class="section7">
            <span> </span>
        </div>
        <ul>
            <li><a class="active" href="#home">Inicio</a></li>
            <li><a href="/about">Acerca de</a></li>
          </ul>
    </div>
    <!--Section 2-->
    <div class="section2">
        <!--Section 3 -->
        <div class="section3">
            <button onclick="number(7)" class="calcBT" type="button">7</button>
            <button onclick="number(8)" class="calcBT" type="button">8</button>
            <button onclick="number(9)" class="calcBT" type="button">9</button>
            <button onclick="number(4)" class="calcBT" type="button">4</button>
            <button onclick="number(5)" class="calcBT" type="button">5</button>
            <button onclick="number(6)" class="calcBT" type="button">6</button>
            <button onclick="number(1)" class="calcBT" type="button">1</button>
            <button onclick="number(2)" class="calcBT" type="button">2</button>
            <button onclick="number(3)" class="calcBT" type="button">3</button>
            <button onclick="number('.')" class="calcBT" type="button">.</button>
            <button onclick="number(0)" class="calcBT" type="button">0</button>
        </div>
        <!--Section 4-->
        <div class="section4">
            <div class="section5">
                <button onclick="number('÷')" class="toolsBT" type="button">÷</button>
                <button onclick="deleteNumber()" class="toolsBT" type="button">⌦</button>
                <button onclick="number('×')" class="toolsBT" type="button">×</button>
                <button onclick="clean()" class="toolsBT" type="button">AC</button>
                <button onclick="number('−')" class="toolsBT" type="button">−</button>
                <button onclick="history()" class="toolsBT" type="button">⟲</button>
                <button onclick="number('+')" class="toolsBT" type="button">+</button>
                <button onclick="result()" class="toolsBT" type="button">=</button>
            </div>
            <div class="section6"></div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>